<!-- (ngSubmit)="handleForm(verifyCount)" -->
<h2 mat-dialog-title>Hi</h2>
<button mat-button (click)="onNoClick()">X</button>

<mat-dialog-content>
  <!-- (ngSubmit)="onVerifyAcount(verifyCount)" -->
  <form [formGroup]="verifyCount">
    <div class="form-item">
      <div class="input-group mb-3 custom-input">
        <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
        <div class="y-line my-auto"></div>
        <input type="email" class="form-control rounded-end py-1" placeholder="Enter your email" aria-label="email"
          aria-describedby="basic-addon1" formControlName="email">
      </div>
      <div *ngIf="verifyCount.get('email')?.errors && verifyCount.get('email')?.touched"
        class="text-red m-0 mx-auto p-0 text-start">
        <span class="text-red" *ngIf="verifyCount.get('email')?.getError('required')">email is Required</span> <br>
        <span class="text-red" *ngIf="verifyCount.get('email')?.getError('email')">email isn't Validator</span>
      </div>
    </div>


    <div class="form-item">
      <div class="input-group mb-3 custom-input">
        <span class="input-group-text px-3 py-3" id="basic-addon1"><i class="fa-solid fa-message"></i></span>
        <div class="y-line my-auto"></div>
        <input type="code" class="form-control rounded-end py-1" placeholder="Enter your code" aria-label="code"
          aria-describedby="basic-addon1" formControlName="code">
      </div>
      <div *ngIf="verifyCount.get('code')?.errors && verifyCount.get('code')?.touched"
        class="text-red m-0 mx-auto p-0 text-start">
        <span class="text-red" *ngIf="verifyCount.get('code')?.getError('required')">code is Required</span> <br>
        <span class="text-red p-0 block" *ngIf="verifyCount.get('code')?.getError('minlength')">Min length
          4</span>
      </div>
    </div>
  </form>
  <p>Lorem ipsum dolor sit amet.</p>
</mat-dialog-content>
<mat-dialog-actions class=" justify-content-around">
  <button mat-button (click)="onNoClick()">close</button>

  <button mat-button [mat-dialog-close]="verifyCount.value" cdkFocusInitial [disabled]="verifyCount.invalid">Ok</button>
</mat-dialog-actions>
