<section class="bg-darkgrey vh-100">
  <div class="py-5 px-2">
    <img src="../../../assets/images/logo-icon.png" class="icon_W" alt="">
  </div>

  <div class="mt-4">
    <ul>
      <!-- <li>
        <a class="text-white">
          <span><i class="fa-solid fa-house"></i></span>
          <span>Home</span>
        </a>
      </li> -->
      <ng-container *ngFor="let item of Menu">
        <li *ngIf="item.isActive">
          <a [routerLink]="item.link" routerLinkActive="bg-main-transparent">
            <span><i [class]="item.icone"></i></span>
            <span class=" text-capitalize">{{item.text}}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</section>
