#home {
  background-image: url('../../../../assets/images/headerhome.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #009247;
  border-radius: 15px;
  margin-top: 1rem;
  padding-inline: 25px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.text-name {
  color: #DFE0E0;
  font-size: 2rem;
  font-weight: 400;
}

p {
font-weight: 400;
}
